@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&family=Roboto:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,800;1,400;1,500;1,800&display=swap");

:root {
  --main: var(--backup);
  --backup: #006eff;
}

@font-face {
  font-family: "digital-7";
  src: url(assets/fonts/digital-7.ttf);
}

* {
  user-select: none;
  -webkit-user-drag: none;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-weight: 500;
}

.aad {
  position: absolute;

  width: 100%;
}

.container {
  position: absolute;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

nav {
  position: absolute;

  top: 2%;

  gap: 1vw;
  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 5;
}

nav a {
  color: rgba(255, 255, 255, 0.3);
  text-decoration: none;
  border-bottom: 2px solid transparent;

  transition: 0.3s;
}

nav a:hover {
  border-bottom: 2px solid rgba(255, 255, 255, 1);
  color: #fff;
  letter-spacing: 2px;
}

.ffa-create {
  position: absolute;

  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1vw;
}

.ffa-create h1 {
  color: #fff;
  font-size: 2vw;
  font-weight: 500;
  font-family: "Montserrat";
}

.ffa-create h2 {
  color: #fff;
  font-size: 0.75vw;
  font-weight: 500;
}

.ffa-create .name,
.password,
.mode,
.maxplayers,
.ma,
.mp,
.pa {
  position: relative;

  width: 20%;
  height: 8%;

  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;

  color: rgba(255, 255, 255, 0.5);

  text-shadow: 0px 0px 4px rgba(176, 186, 217, 0.2);

  display: flex;
  align-items: center;
  justify-content: center;
}

.ma .mode {
  width: 100%;
  height: 100%;
  background: transparent;
}

.mp .map {
  width: 100%;
  height: 100%;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pa .password {
  width: 100%;
  height: 100%;
  background: transparent;
  display: flex;
  align-items: center;
}

.pa input[type="checkbox"] {
  position: absolute;

  right: -30%;

  width: 20%;
  height: 30%;
  border-radius: 100px;

  background: #E03444;
  appearance: none;


}

.pa input[type="checkbox"]::before {
  content: '';
  position: absolute;

  left: 0;
  width: 1.5vw;
  height: 100%;
  border-radius: 100px;
  background: #fff;
  transition: 0.3s;
}

.pa input[type="checkbox"]:checked::before {
  left: 63%;
}

.pa input[type="checkbox"]:checked {
  background: #33c75d;
}

.ma {
  position: relative;
}

.ffa-create i {
  position: relative;

  left: 2%;

  color: rgba(255, 255, 255, 0.4);
  transition: 0.3s;
}

.ffa-create input {
  position: relative;
  background: transparent;
  width: 20vw;
  height: 100%;

  padding: 0 1vw;
  font-size: 0.75vw;
  outline: none;
  border: none;
  color: #fff;

  font-family: "Poppins", sans-serif;

  transition: 0.3s;
}

.ffa-create input:disabled {
  color: transparent;
}

.ffa-create input:disabled::placeholder {
  color: transparent;
}

.container .notify-area {
  position: absolute;


  left: 0.5%;

  width: 15%;
  height: 50%;


  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  gap: 18px;
}

.container .notify-area .notify {
  position: relative;

  width: 95%;

  background: rgba(0, 0, 0, 0.541);

  border-radius: 15px;
  border-top-left-radius: 5px;

  display: flex;
  justify-content: left;
  flex-direction: column;

  animation: notify 2s;

  z-index: 10000000000;
}

.container .notify-area .notify::before {
  content: '';
  position: absolute;

  left: -2%;
  top: -10%;

  width: 13px;
  height: 13px;

  border-radius: 30%;
}

.container .notify-area .notify.error::before {
  background: rgb(224, 0, 0);
  box-shadow: 0 0 5px rgb(224, 0, 0);
}
.container .notify-area .notify.success::before {
  background: rgba(26, 224, 0, 1);
  box-shadow: 0 0 5px rgba(26, 224, 0, 1);
}

@keyframes notify {
  0% {
      width: 110%;
  }
  50% {
      width: 105%;
  }
  100% {
      width: 95%;
  }
}

.container .notify-area .notify h1 {
  position: relative;

  left: 2%;
  top: 8%;
  
  font-size: 15px;
  font-weight: 600;

  z-index: 10000;
}

.container .notify-area .notify h2 {
  position: relative;

  left: 2%;
  top: 10%;

  width: 230px;

  margin-bottom: 25px;

  color: rgba(255, 255, 255, 0.815);
  text-shadow: none;

  font-size: 13px;
  font-weight: 500;

  animation: ntext 3s;
}

@keyframes ntext {
  0% {
      color: transparent;
  }
  100% {
      color: rgba(255, 255, 255, 0.815);
  }
}

.success {
  color: rgba(26, 224, 0, 1);
  text-shadow: 0 0 5px rgba(26, 224, 0, 1);
  *background: rgba(26, 224, 0, 0.7);

  --notify-color: 26,224,0;
}

.error {
  color: rgb(224, 0, 0);
  text-shadow: 0 0 10px rgb(224, 0, 0);
  *background: rgb(224, 0, 0,0.7);
  --notify-color: 224,0,0;
}

.ffa-create input::placeholder {
  color: rgba(255, 255, 255, 0.3);
  transition: 0.3s;
}

.ffa-create input:hover {
  letter-spacing: 2px;
  transition: 0.3s;
}

.ffa-create input:focus::placeholder {
  color: rgba(255, 255, 255, 1);
  letter-spacing: 2px;
  transition: 0.3s;
}

.ffa-create button {
  position: relative;
  background: transparent;
  width: 20vw;
  height: 100%;

  padding: 0 1vw;
  font-size: 0.75vw;
  outline: none;
  border: none;
  color: rgba(255, 255, 255, 0.3);

  text-align: left;

  font-family: "Poppins", sans-serif;

  transition: 0.3s;
}

.ffa-create button:hover {
  letter-spacing: 2px;
  transition: 0.3s;
}

.ffa-create button:active {
  color: rgba(255, 255, 255, 1);
  letter-spacing: 2px;
  transition: 0.3s;
}

.ffa-create div .arrow {
  font-size: 3vw;
  transform: translateX(-1vw);
  font-family: "Montserrat";
  font-weight: 200;
}

.ffa-create .create {
  position: relative;

  width: 20vw;
  height: 8%;

  font-size: 1vw;

  background: var(--main);
  border: 2px solid transparent;
  border-radius: 5px;
  text-shadow: none;
  color: #fff;

  font-family: "Montserrat", sans-serif;
  transition: 0.3s;

  display: flex;
  align-items: center;
  justify-content: center;
}

.ffa-create .create:hover {
  background: #005acf;
  letter-spacing: 2px;
}

.ffa-create .create:active {
  transition: 0s;
  border: 2px solid var(--main);
}

@keyframes slide {
  0% {
    width: 0;
  }
  100% {
    width: 110%;
  }
}

.mode-menu {
  position: absolute;
  left: 103%;

  width: 110%;
  height: 100%;
  padding: 0.2vw 0.2vw;

  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5vw;
  overflow: hidden;

  animation: slide 1s;
}

.modus {
  position: relative;

  height: 90%;
  width: 18%;

  background: rgba(255, 255, 255, 0.05);
  color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.3vw;
}
.modus:hover {
  background: rgba(255, 255, 255, 0.19);
}

.modus.active {
  background: rgba(255, 255, 255, 0.3);
}

.modus i {
  position: relative;
}
.modus span {
  position: relative;
  font-size: 0.75vw;
}

@keyframes slidein {
  0% {
    width: 110%;
    height: 100%;
  }
  50% {
    height: 15vw;
  }
}
.map-menu {
  position: absolute;
  right: -115%;
  top: 0;

  width: 110%;
  height: 15vw;
  padding: 0.2vw 0.2vw;

  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5vw;
  animation: slidein 1s;
}

.map-menu .map {
  position: relative;

  min-width: 90%;
  min-height: 20%;

  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;

  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  transition: 0.3s;
}
.map-menu .map:hover {
  background: rgba(255, 255, 255, 0.19);
}

.map-menu .map.active {
  background: rgba(255, 255, 255, 0.3);
}

.map-menu .map i {
  position: relative;
}

.map-menu .map img {
  position: absolute;
  width: 70%;
  right: 0;
  border-radius: 10px;
  transition: 0.3s;
  opacity: 0;
}

.map-menu .map:hover img {
  opacity: 1;
  width: 100%;
}

.map-menu .map span {
  position: absolute;
  font-size: 0.75vw;
  color: #fff;
  padding: 0.5vw 1vw;
  left: auto;

  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  transition: 0.5s;
}

.map-menu .map:hover span {
  background: rgba(176, 186, 217, 0.5);
}

.map-menu .map.active span {
  background: var(--main);
}

/* ! FFA-Liste */

.ffa-liste {
  position: absolute;

  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.ffa-liste h1 {
  position: absolute;

  top: 5%;
  left: 5%;

  font-family: "Montserrat";
  font-weight: 600;
  color: #fff;
}

.ffa-liste .switch {
  position: absolute;

  top: 15%;
  left: 5%;

  width: 25vw;
  height: 4vw;

  background: rgba(255, 255, 255, 0.05);
  border-radius: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
}

.ffa-liste .switch .Privat {
  position: relative;

  width: 45%;
  height: 50%;

  color: #fff;
  background: rgba(255, 255, 255, 0.2);
  *border: 2px solid transparent;
  font-family: "Montserrat";
  font-size: 1vw;
  border-radius: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: 0.5s;
}

.ffa-liste .switch .Privat.active {
  background: #2c80ef;
  *border: 3px solid var(--main);
}

.ffa-liste .switch .Öffentlich {
  position: relative;

  width: 45%;
  height: 50%;

  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  *border: 2px solid transparent;
  color: #fff;
  font-family: "Montserrat";
  font-size: 1vw;
  border-radius: 20px;

  transition: 0.5s;

  display: flex;
  align-items: center;
  justify-content: center;
}

.ffa-liste .switch .Öffentlich.active {
  background: #2c80ef;
  *border: 3px solid var(--main);
}

.ffa-liste .search {
  position: absolute;

  top: 16.8%;
  right: 3%;

  width: 20%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.ffa-liste .search i {
  position: absolute;
  right: 0;
  font-size: 2vw;
  color: rgba(255, 255, 255, 0.4);
  transition: 0.2s;
}

.ffa-liste .search i:hover {
  color: #fff;
}

.ffa-liste .search input {
  position: relative;

  top: 0;
  right: -17%;
  width: 12vw;
  height: 2.5vw;
  padding: 0 1vw;
  opacity: 0;

  cursor: pointer;

  border-radius: 20px;
  border: none;
  outline: none;

  font-family: "Montserrat";
  background: rgba(255, 255, 255, 0.1);
  color: #fff;

  z-index: 1;
  transition: 0.5s;
}

.ffa-liste .search input::placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.ffa-liste .search input:focus {
  right: 0;
  opacity: 1;
}

#Search-Mode {
  position: absolute;

  top: 16.8%;

  left: 32%;

  width: 10vw;
  height: 2vw;

  border-radius: 20px;
  padding: 0 1vw;
  border: none;
  outline: none;

  font-family: "Montserrat";
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
}

#Search-Map {
  position: absolute;

  top: 16.8%;

  left: 45%;

  width: 10vw;
  height: 2vw;

  border-radius: 20px;
  padding: 0 1vw;
  border: none;
  outline: none;

  font-family: "Montserrat";
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
}

.liste {
  position: absolute;

  width: 92%;
  left: 4%;

  height: 72%;

  bottom: 0;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.5vw;
  overflow: auto;
  padding: 1vw 1vw;
}

.liste::-webkit-scrollbar {
  display: none;
}

.hidden {
  opacity: 0;
}

.liste .ffa {
  position: relative;

  width: 18vw;
  height: 18vw;

  background: rgba(255, 255, 255, 0.06);
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.liste .ffa .ffa-map {
  position: absolute;
  top: 4%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.liste .ffa .players {
  position: absolute;

  bottom: 0;
  right: 0;

  background: var(--main);
  color: #fff;
  font-size: 1vw;
  padding: 0.2vw 0.5vw;
  border-radius: 10px;
}

.liste .ffa .name {
  position: absolute;

  top: 0;
  left: 0;
  background: var(--main);
  color: #fff;
  font-size: 1vw;
  padding: 0.2vw 0.5vw;
  border-radius: 10px;
}

.liste .ffa img {
  position: relative;

  top: -8%;

  width: 15vw;

  border: 4px solid var(--main);
  border-radius: 10px;
}

.liste .ffa .Mode {
  position: absolute;
  top: 55%;
  left: 7%;
  font-weight: 500;
  font-size: 0.8vw;
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;
}

.liste .ffa .Mode h1 {
  position: relative;
  font-size: 0.7vw;
  font-weight: 500;
}

.liste .ffa .ffa-password {
  position: absolute;

  bottom: 18%;
  width: 80%;
  height: 2vw;

  background: rgba(176, 186, 217, 0.2);
  color: rgba(255, 255, 255, 0.3);
  padding: 0.1vw 1vw;
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
}

.liste .ffa .ffa-password i {
  position: absolute;

  left: 5%;
}

.liste .ffa span {
  position: absolute;

  bottom: 30%;
  left: 5%;

  font-size: 0.75vw;
  color: #33c75d;
  text-shadow: 0 0 5px #33c75d;
  font-family: "Montserrat";
}

.liste .ffa .ffa-password input {
  position: absolute;

  left: 15%;
  width: 85%;
  height: 100%;
  outline: none;
  border: none;
  border-radius: 10px;
  background: transparent;
  font-family: "Montserrat";
  color: #fff;
}

.liste .ffa .ffa-password input::placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.liste .ffa .join {
  position: absolute;

  bottom: 2%;

  width: 50%;
  padding: 0.5vw 3vw;

  background: var(--main);
  border-radius: 10px;
  color: #fff;
  font-family: "Montserrat";
  font-size: 1vw;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: 0.4s;
}

.liste .ffa .join:hover {
  background: #005acf;
  letter-spacing: 2px;
}




/* ! FFA INGAME */

:root {
  --text-color: rgba(255, 255, 255, 0.596);
}



.container .ffa-scoreboard {
  position: absolute;

  bottom: 2%;

  width: 15%;
  height: 8%;

  border-top: 3px solid var(--main);
  filter: drop-shadow(-100px 0 100px var(--main));
  border-radius: 25%;
  
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  animation: score 1s;
}

@keyframes score  {
  0% {
    bottom: -20%;
    transform: scale(0);
  }
  50% {
    bottom: 2%;
    transform: scale(0.5);
  }
  100% {
    bottom: 2%;
    transform: scale(1);
  }
}

.container .ffa-scoreboard

.container .ffa-scoreboard h5 {
  position: fixed;

  bottom: -23%;
  font-size: 0.6vw;
  color: #fff;
  font-weight: 500;
}

.container .ffa-scoreboard h6 {
  position: absolute;

  width: 30vw;
  height: 100%;

  font-size: 0.1vw;
  color: transparent;
  text-shadow: 0 20px 50px var(--main), 0 50px 50px var(--main);

}

.container .ffa-scoreboard::after {
  content: '';
  position: absolute;
  
  width: 100%;
  height: 100%;

  background: rgba(20,20,20,1);
  background: linear-gradient(90deg, rgba(20,20,20,1), var(--main), rgba(20,20,20,1));
  background-size: 100% 100%;
  filter: brightness(0.2);
  border-radius: 20%;
}

.container .ffa-scoreboard .kills {
  position: absolute;

  right: 100%;

  width: 100px;
  height: 65%;

  display: flex;
  align-items: center;
  justify-content: center;

  animation: killin 0.5s;
}

:root {
  --c: #00b3ff;
}

@keyframes rainbow {
  0% {
    color: var(--c);
    text-shadow: 
    0 0 20px var(--c),
    0 0 40px var(--c),
    0 0 80px var(--c),
    0 0 120px var(--c),
    0 0 200px var(--c);
    background: linear-gradient(0deg,);
  }
  100% {
    color: var(--c);
    filter: hue-rotate(360deg);
    text-shadow: 
    0 0 20px var(--c),
    0 0 40px var(--c),
    0 0 80px var(--c),
    0 0 120px var(--c),
    0 0 200px var(--c);
  }
}


.container .ffa-scoreboard .deaths {
  position: absolute;
  
  left: 100%;
  
  width: 100px;
  height: 65%;
  
  display: flex;
  align-items: center;
  justify-content: center;
  animation: deathin 0.5s;
}

.container .ffa-scoreboard .deaths::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgb(0, 0, 0), var(--main));
  border-radius: 30%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  filter: brightness(0.4);
}

.container .ffa-scoreboard .kills::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 30%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background: linear-gradient(270deg, rgb(0, 0, 0), var(--main));
  filter: brightness(0.4);
}

.container .ffa-scoreboard .kills h1, .deaths h1 {
  position: absolute;

  top: 10%;

  color: var(--text-color);
  
  font-size: 0.8vw;
  font-weight: 500;
}

.container .ffa-scoreboard .kills span, .deaths span {
  position: absolute;
  
  bottom: 10%;
  
  color: var(--main);
  
  font-size: 0.9vw;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}

.container .ffa-scoreboard .middle-content {
  position: absolute;
  
  width: 100%;
  height: 100%;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  
  z-index: 1000;
}

.container .ffa-scoreboard .middle-content h1 {
  position: absolute;
  
  top: 5%;
  
  color: var(--main);
  font-weight: 800;
  font-family: Bahnschrift;
  text-shadow: 0 0 10px var(--main);
  font-size: 0.9vw;
  font-weight: 500;
}

.container .ffa-scoreboard .middle-content .playtime {
  position: absolute;
  
  left: 8%;
  
  width: 70px;
  height: 70px;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .ffa-scoreboard .middle-content .player-kd {
  position: absolute;
  
  right: 8%;
  
  width: 70px;
  height: 70px;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .ffa-scoreboard .middle-content .playtime h2 {
  position: absolute;
  
  top: 15%;
  
  font-size: 0.8vw;
  font-weight: 400;
  color: var(--text-color);
}

.middle-content .playtime span {
  position: absolute;
  
  bottom: 10%;
  padding: 0px 5px;
  border-radius: 20%;
  color: var(--main);
  font-size: 18px;
}

.container .ffa-scoreboard .middle-content .player-kd h3 {
  position: absolute;
  
  top: 15%;
  font-weight: 500;
  color: var(--text-color);
  font-size: 0.8vw;
  font-weight: 500;
}

.container .ffa-scoreboard .middle-content .player-kd span {
  position: absolute;
  
  bottom: 10%;
  color: var(--main);
  padding: 0px 5px;
  border-radius: 20%;
  font-size: 18px;
}

.container .ffa-scoreboard .middle-content img {
  position: absolute;
  
  bottom: 10%;
  width: 50px;
  transition: 0.2s;
}

.container .ffa-killfeed {
  position: absolute;

  width: 15%;
  height: 20%;
  
  top: 65%;
  
  display: flex;
  align-items: center;

  flex-direction: column-reverse;
  gap: 5px;
}

.container .ffa-killfeed .kill {
  position: relative;

  max-width: 250px;
  min-width: 250px;
  max-height: 30px;
  min-height: 30px;

  background: var(--main);
  background: linear-gradient(270deg, var(--main), rgb(0, 0, 0), var(--main));
  filter: brightness(0.8);
  border: 2px solid var(--main);
  border-radius: 10%;
  backdrop-filter: blur(10px);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  transition: 0.2s;
}

.container .ffa-killfeed .kill * {
  position: relative;

  font-size: 18px;
  font-weight: 500;
  color: var(--text-color);
}

.container .ffa-killfeed .kill h1 {
  color: var(--main);
  text-shadow: 0 0 5px var(--main);
}
.container .ffa-killfeed .kill h2 {
  color: rgb(255, 255, 255);
  text-shadow: 0 0 5px rgb(255, 255, 255);
}





















/* ? LOADER */

.loader {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: drop-shadow(0 0 20px var(--main));
  color: transparent;
}
.loader .center {
  width: 40px;
  height: 40px;
  background: var(--main);
  border-radius: 50%;
  animation: center 3.2s ease-in-out infinite;
}
.loader .item {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 15px;
  left: 0;
  right: 0;
  margin: auto;
  background: var(--main);
  border-radius: 50%;
}

.item-1 {
  animation: anim-1 3.2s ease-in-out infinite 0.2s;
  background: var(--main);
}

@keyframes anim-1 {
  0%, 60%, 100% {
    transform: rotate(45deg) translateX(40px) scale(1);
  }
  10%, 50% {
    transform: rotate(45deg) translateX(0) scale(1.5);
  }
}
.item-2 {
  animation: anim-2 3.2s ease-in-out infinite 0.4s;
  background: var(--main);
}

@keyframes anim-2 {
  0%, 60%, 100% {
    transform: rotate(90deg) translateX(40px) scale(1);
  }
  10%, 50% {
    transform: rotate(90deg) translateX(0) scale(1.5);
  }
}
.item-3 {
  animation: anim-3 3.2s ease-in-out infinite 0.6s;
  background: var(--main);
}

@keyframes anim-3 {
  0%, 60%, 100% {
    transform: rotate(135deg) translateX(40px) scale(1);
  }
  10%, 50% {
    transform: rotate(135deg) translateX(0) scale(1.5);
  }
}
.item-4 {
  animation: anim-4 3.2s ease-in-out infinite 0.8s;
  background: var(--main);
}

@keyframes anim-4 {
  0%, 60%, 100% {
    transform: rotate(180deg) translateX(40px) scale(1);
  }
  10%, 50% {
    transform: rotate(180deg) translateX(0) scale(1.5);
  }
}
.item-5 {
  animation: anim-5 3.2s ease-in-out infinite 1s;
  background: var(--main);
}

@keyframes anim-5 {
  0%, 60%, 100% {
    transform: rotate(225deg) translateX(40px) scale(1);
  }
  10%, 50% {
    transform: rotate(225deg) translateX(0) scale(1.5);
  }
}
.item-6 {
  animation: anim-6 3.2s ease-in-out infinite 1.2s;
  background: var(--main);
}

@keyframes anim-6 {
  0%, 60%, 100% {
    transform: rotate(270deg) translateX(40px) scale(1);
  }
  10%, 50% {
    transform: rotate(270deg) translateX(0) scale(1.5);
  }
}
.item-7 {
  animation: anim-7 3.2s ease-in-out infinite 1.4s;
  background: var(--main);
}

@keyframes anim-7 {
  0%, 60%, 100% {
    transform: rotate(315deg) translateX(40px) scale(1);
  }
  10%, 50% {
    transform: rotate(315deg) translateX(0) scale(1.5);
  }
}
.item-8 {
  animation: anim-8 3.2s ease-in-out infinite 1.6s;
  background: var(--main);
}

@keyframes anim-8 {
  0%, 60%, 100% {
    transform: rotate(360deg) translateX(40px) scale(1);
  }
  10%, 50% {
    transform: rotate(360deg) translateX(0) scale(1.5);
  }
}
@keyframes center {
  0%, 10%, 90%, 100% {
    transform: scale(0.7);
  }
  45%, 55% {
    transform: scale(1);
  }
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}