.container .player-count {
    position: absolute;

    top: 0;
    right: 20%;


    width: 5%;
    height: 8%;
    padding: 0px 15px;

    background: linear-gradient(180deg, rgba(var(--main-color-rgb), 1) 20%, rgba(0, 0, 0, 0));
    text-shadow: 0 0 5px #111;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .player-count .count-icon {
    position: relative;

    right: -5px;

    text-shadow: 0 0 15px #fff;
    color: #fff;
}

.container .player-count #players {
    position: relative;

    right: 0;

    color: #fff;

}

.container .player-count p {
    position: absolute;

    top: 0;

    color: var(--color-white);
    text-shadow: var(--shadow-white);
    font-size: 20px;
}

.container .killfeed-top {
    position: absolute;

    top: 0%;
    right: 0;

    width: 50%;
    height: 3px;

    background: var(--main-color-rgb);
    box-shadow: 0 0 10px var(--main-color-rgb);
}

.container .killfeed-top::before {
    content: attr(data-title);
    position: absolute;

    bottom: 0;
    right: 5%;



    color: #fff;
    text-shadow: 0 0 30px #fff;
}

.container .kill-feed {
    position: absolute;

    right: 0;

    width: 15%;
    height: 50%;

    *background: rgba(1,1,1,0.5);

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 5px;
}

.container .kill-feed .new-kill {
    position: relative;

    width: 95%;
    height: 30px;
    margin-top: 10px;

    background: rgba(var(--main-color-rgb), 1);
    color: #fff;
    transform: skew(-15deg);

    display: flex;
    align-items: center;
    justify-content: center;


    animation: kill 1s;

    transition: 5s;
}

.container .kill-feed .new-kill::before {
    content: '';
    position: absolute;

    height: 100%;
    width: 5px;

    background: #fff;

    z-index: 2000;
}

.container .kill-feed .new-kill #killer {
    position: absolute;

    width: 50%;
    height: 100%;
    background: rgba(var(--main-color-rgb), 0.7);
    text-shadow: 0 0 5px #fff;

    left: 0;

    font-size: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.container .kill-feed .new-kill #target {
    position: absolute;

    width: 50%;
    height: 100%;
    background: #5b00a0;
    color: rgba(255, 255, 255, 0.74);

    right: 0;

    font-size: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
}