:root {
    --text-color: rgba(255, 255, 255, 0.596);
}



.container .ffa-ui {
    position: absolute;

    bottom: 2%;

    width: 15%;
    height: 8%;

    border-top: 3px solid rgba(var(--main-color-rgb),1);
    border-radius: 25%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 200px;

    *animation: backInUp 2s forwards;

    z-index: 100;
}

.container .ffa-ui h6 {
    position: absolute;

    width: 600px;
    height: 10%;

    color: transparent;
    box-shadow: 0 50px 50px rgba(var(--main-color-rgb),1), 0 50px 50px rgba(var(--main-color-rgb),1);

}

.container .ffa-ui::after {
    content: '';
    position: absolute;
    
    width: 100%;
    height: 100%;

    background: #111;
    background: linear-gradient(90deg, #111, rgba(var(--main-color-rgb),1), #111);
    background-size: 100% 100%;
    filter: brightness(0.2);
    border-radius: 20%;
}

.container .ffa-ui::before {
    content: 'awdawdawd';
    position: absolute;

    bottom: 0;

    
    --pixel: 100px;
    
    color: transparent;
    text-shadow: 0 0 var(--pixel) rgba(var(--main-color-rgb),1), 0 0 var(--pixel) rgba(var(--main-color-rgb),1);
}

.container .ffa-ui .kills {
    position: absolute;

    right: 100%;

    width: 100px;
    height: 65%;

    display: flex;
    align-items: center;
    justify-content: center;

    animation: killin 0.5s;
}

:root {
    --c: #00b3ff;
}

@keyframes rainbow {
    0% {
      color: var(--c);
      text-shadow: 
      0 0 20px var(--c),
      0 0 40px var(--c),
      0 0 80px var(--c),
      0 0 120px var(--c),
      0 0 200px var(--c);
      background: linear-gradient(0deg,);
    }
    100% {
      color: var(--c);
      filter: hue-rotate(360deg);
      text-shadow: 
      0 0 20px var(--c),
      0 0 40px var(--c),
      0 0 80px var(--c),
      0 0 120px var(--c),
      0 0 200px var(--c);
    }
  }


.container .ffa-ui .deaths {
    position: absolute;
    
    left: 100%;
    
    width: 100px;
    height: 65%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    animation: deathin 0.5s;
}

.container .ffa-ui .deaths::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgb(0, 0, 0), rgba(var(--main-color-rgb),1));
    border-radius: 30%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    filter: brightness(0.4);
}

.container .ffa-ui .kills::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 30%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background: linear-gradient(270deg, rgb(0, 0, 0), rgba(var(--main-color-rgb),1));
    filter: brightness(0.4);
}

.container .ffa-ui .kills h1, .deaths h1 {
    position: absolute;

    top: 10%;

    color: var(--text-color);
    
    font-size: 15px;
    font-weight: 500;
}

.container .ffa-ui .kills span, .deaths span {
    position: absolute;
    
    bottom: 10%;
    
    color: rgba(var(--main-color-rgb),0.8);
    
    font-size: 17px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

.container .ffa-ui .middle-content {
    position: absolute;
    
    width: 100%;
    height: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    
    z-index: 1000;
}

.container .ffa-ui .middle-content h1 {
    position: absolute;
    
    top: 5%;
    
    color: var(--text-color);
    font-size: 15px;
    font-weight: 500;
}

.container .ffa-ui .middle-content .players-inroom {
    position: absolute;
    
    left: 8%;
    
    width: 70px;
    height: 70px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .ffa-ui .middle-content .player-kd {
    position: absolute;
    
    right: 8%;
    
    width: 70px;
    height: 70px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .ffa-ui .middle-content .players-inroom h2 {
    position: absolute;
    
    top: 15%;
    
    color: var(--text-color);
}

.middle-content .players-inroom span {
    position: absolute;
    
    bottom: 10%;
    background: rgba(var(--main-color-rgb),0.2);
    padding: 0px 5px;
    border-radius: 20%;
    color: rgba(var(--main-color-rgb),0.8);
    font-size: 18px;
}

.container .ffa-ui .middle-content .player-kd h3 {
    position: absolute;
    
    top: 15%;
    color: var(--text-color);
    font-size: 15px;
    font-weight: 500;
}

.container .ffa-ui .middle-content .player-kd span {
    position: absolute;
    
    bottom: 10%;
    color: rgba(var(--main-color-rgb),0.8);
    background: rgba(var(--main-color-rgb),0.2);
    padding: 0px 5px;
    border-radius: 20%;
    font-size: 18px;
}

.container .ffa-ui .middle-content img {
    position: absolute;
    
    bottom: 10%;
    width: 50px;
    transition: 0.2s;
}

.container .ffa-killfeed {
    position: absolute;

    width: 15%;
    height: 20%;
    
    top: 65%;
    
    display: flex;
    align-items: center;

    flex-direction: column-reverse;
    gap: 5px;
}

.container .ffa-killfeed .kill {
    position: relative;

    max-width: 250px;
    min-width: 250px;
    max-height: 30px;
    min-height: 30px;

    background: rgba(var(--main-color-rgb),0.4);
    background: linear-gradient(270deg, rgba(var(--main-color-rgb),1), rgb(0, 0, 0), rgba(var(--main-color-rgb),1));
    filter: brightness(0.8);
    border: 2px solid rgba(var(--main-color-rgb),1);
    border-radius: 10%;
    backdrop-filter: blur(10px);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    transition: 0.2s;
}

.container .ffa-killfeed .kill * {
    position: relative;

    font-size: 18px;
    font-weight: 500;
    color: var(--text-color);
}

.container .ffa-killfeed .kill h1 {
    color: rgba(var(--main-color-rgb),1);
    text-shadow: 0 0 5px rgba(var(--main-color-rgb),1);
}
.container .ffa-killfeed .kill h2 {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 5px rgb(255, 255, 255);
}


