.container .ffa-menu .ffa-info-card {
    position: absolute;

    width: 40%;
    height: 40%;
    background: linear-gradient(180deg, rgba(10, 10, 10, 0.685) 0%, #0A0A0A 99.99%, rgba(10, 10, 10, 0.74) 100%);
    background: #0e0020c2;
    backdrop-filter: blur(10px);

    display: flex;
    align-items: center;
    justify-content: center;
}

.container .ffa-menu .ffa-info-card::before {
    content: '';
    position: absolute;

    left: 0;

    width: 2px;
    height: 80%;
    
    background: #fff;
    box-shadow: 0 0 20px #fff;

    display: flex;
    align-items: center;
    justify-content: center;
}

.container .ffa-menu .ffa-info-card::after {
    content: '';
    position: absolute;

    right: 0;

    width: 2px;
    height: 80%;
    
    background: #fff;
    box-shadow: 0 0 20px #fff;

    display: flex;
    align-items: center;
    justify-content: center;
}


.container .ffa-menu .ffa-info-card p {
    position: absolute;

    top: 5%;

    font-size: 30px;
    color: transparent;
    background: linear-gradient(180deg, rgba(var(--main-color-rgb), 1) 20%, rgba(var(--main-color-rgb), 0.7) 80%);
    background-clip: text;
    -webkit-background-clip: text;
    font-weight: 600;
}
.container .ffa-menu .ffa-info-card {
    position: absolute;
}
.container .ffa-menu .ffa-info-card {
    position: absolute;
}
.container .ffa-menu .ffa-info-card {
    position: absolute;
}

.container .ffa-menu .ffa-info-card .infos {
    position: absolute;
    
    top: 20%;

    width: 100%;
    height: 80%;
}

.container .ffa-menu .ffa-info-card .infos div {
    position: relative;

    left: 2.5%;

    min-width: 200px;
    max-width: 200px;
    min-height: 100px;
    max-height: 100px;
    
    margin: 10px 20px;
    border: 2px solid #ffffff48;
    border-radius: 5px;

    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.container .ffa-menu .ffa-info-card .infos div h1 {
    position: absolute;

    top: 10%;

    margin: 5px 5px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}

.container .ffa-menu .ffa-info-card .infos div span {
    position: absolute;

    top: 50%;

    margin: 5px 5px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}