@font-face {
    font-family: "Bostana";
    src: url(../fonts/Bostana.ttf);
}

@font-face {
    font-family: "Storm Gust";
    src: url(../fonts/Storm\ Gust.ttf);
}

@font-face {
    font-family: "Explore Demo";
    src: url(../fonts/Explore\ Demo.ttf);
}

@font-face {
    font-family: "Middletown";
    src: url(../fonts/Middletown.ttf);
}

@font-face {
    font-family: "Trinta_quatro";
    src: url(../fonts/Trinta_quatro.ttf);
}

@font-face {
    font-family: "Robot Dreamer";
    src: url(../fonts/Robot\ Dreamer\ Bold.ttf);
}
@font-face {
    font-family: "Robot Dreamer Bold";
    src: url(../fonts/Robot\ Dreamer.ttf);
}