@font-face {
    font-family: "Bostana";
    src: url(../fonts/Bostana.ttf);
}

@font-face {
    font-family: "StormGust";
    src: url(../fonts/Storm\ Gust.ttf);
}

@font-face {
    font-family: "ExploreDemo";
    src: url(../fonts/Explore\ Demo.ttf);
}

@font-face {
    font-family: "Middletown";
    src: url(../fonts/Middletown.ttf);
}

@font-face {
    font-family: "Trinta_quatro";
    src: url(../fonts/Trinta_quatro.ttf);
}

@font-face {
    font-family: "RobotDreamer";
    src: url(../fonts/Robot\ Dreamer\ Bold.ttf);
}
@font-face {
    font-family: "RobotDreamerBold";
    src: url(../fonts/Robot\ Dreamer.ttf);
}

@font-face {
    font-family: "BadBrush";
    src: url(../fonts/Bad\ Brush.ttf);
}

@font-face {
    font-family: "LsmVulpy-Regular";
    src: url(../fonts/LsmVulpy-Regular.ttf);
}

@font-face {
    font-family: "Winter-City";
    src: url(../fonts/Winter-City.ttf);
}

@font-face {
    font-family: "DistorterDemoRegular";
    src: url(../fonts/DistorterDemoRegular.ttf);
}

@font-face {
    font-family: "whoahsouce";
    src: url(../fonts/whoahsouce.ttf);
}

@font-face {
    font-family: "SuperRoadDemoRegular";
    src: url(../fonts/SuperRoadDemoRegular.ttf);
}